body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* header */

.header {
    background: url(../images/header-bg.jpg) center no-repeat;
    background-size: auto;
    min-height: 800px;
}



.header__body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.header__logo {
    margin: 25px 35px 0;
    width: 150px;
    height: 150px;
}

.header__nav {
    display: flex;
}


.header__nav.fixed {
    display: flex;
    justify-content: center;
    background-color: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
    
}
.fixed .header__logo{
    display: none;
}

.header__nav-left {
    display: flex;
}
.header__nav-right {
    display: flex;
}
.header__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    transition: all .2s linear;
}
.header__nav-item.active {
    color: #ff7300;
}

.header__nav-item:hover {
    color: #FFD600;
}

.header__nav-item:active {
    color: #ff7300;
}

.header__main {
    margin-top: 151px;
}

.header__time {
    position: absolute;
    left: -118px;
    top: 444px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.header__suptittle {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #FFFFFF;
}

.header__tittle {
    display: block;
    font-family: Banny;
    font-size: 96px;
    line-height: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}

.header__tittle::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    margin: 30px auto;
    background-color: #E8C300;
}

.header__buttons {
    display: flex;
}

.header__btn {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    ;
    width: 200px;
    height: 60px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all .2s linear;
}

.header__btn:hover {
    background-color: #E8C300;
    border-color: #E8C300;
}

.header__btn:active {
    background-color: #ff7300;
    border-color: #ff7300;
}

.header__social {
    position: absolute;
    right: 0;
    top: 321px;
    display: flex;
    flex-direction: column;
}

.header__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-top: 20px;
    transition: all .2s linear;
}

.header__social-item:hover {
    background-color: #E8C300;
    border-color: #E8C300;
}

.header__social-item:active {
    background-color: #ff7300;
    border-color: #ff7300;
}

.header__btn-after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 658px;
    left: 610px;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    text-decoration: none;
}

.header__btn-after-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 40px;
    Height: 40px;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    transition: all .2s linear;
}

.header__btn-after-bg:hover {
    background-color: #E8C300;
    border-color: #E8C300;
}

.header__btn-after-bg:active {
    background-color: #ff7300;
    border-color: #ff7300;
}

.header__btn-after-arrow {
    font-size: 20px;
    color: #333333;
}

/* about */

.about {
    max-height: 675px;
}

.about__body {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.about__column {
    margin: 100px 0;
    width: 50%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__tittle {
    display: block;
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 20px;
}

.about__tittle::after {
    content: "";
    display: block;
    width: 59.19px;
    height: 5px;
    margin: 10px auto;
    background: #E8C300;
    border-radius: 50px;
}

.about__subtittle {
    display: block;
    width: 590px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin-right: 37px;
}

.about__text {
    font-family: 'Open Sans', sans-serif;
    width: 590px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-right: 37px;
}

.about__img {
    display: block;
    position: relative;
    padding-right: 85px;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.3));
    border-radius: 5px;
}

.about__squere {
    position: absolute;
    right: 0;
    top: 213px;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

/* team */

.team {
    max-height: 676px;
    background: url(../images/team-bg.jpg) center no-repeat;
    background-size: auto;
}

.team__body {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.team__text-top {
    position: absolute;
    left: 584px;
    top: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.team__column {
    margin: 100px 0;
    width: 50%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team__img {
    display: block;
    position: relative;
    padding-left: 60px;
    filter: drop-shadow(0px 0px 50px #000000);
    border-radius: 5px;
}

.team__squere {
    position: absolute;
    left: 0;
    top: 213px;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.team__tittle {
    display: block;
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}

.team__tittle::after {
    content: "";
    display: block;
    width: 59.19px;
    height: 5px;
    margin: 10px auto;
    background: #E8C300;
    border-radius: 50px;
}

.team__subtittle {
    display: block;
    width: 590px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 2px;
}

.team__text {
    font-family: 'Open Sans', sans-serif;
    width: 590px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    margin-right: 2px;
}

/* book */

.book {
    max-height: 675px;
}

.book__body {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.book__column-left {
    margin: 100px 0;
    width: 50%;
    height: 475px;
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    justify-content: center;
}

.book__column-right {
    margin: 100px 0;
    width: 50%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__tittle {
    display: block;
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: -4px;
    margin-bottom: 9px;
    margin-right: 14px;
}

.book__tittle::after {
    content: "";
    display: block;
    width: 59.19px;
    height: 5px;
    margin: 10px auto;
    background: #E8C300;
    border-radius: 50px;
}

.book__form {
    display: flex;
    flex-wrap: wrap;
}

.book__form-box {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.book__form-item {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
    width: 277px;
    height: 60px;
    margin-bottom: 10px;
    background: #E5E5E5;
    border-radius: 5px;
    border: transparent;
    box-sizing: border-box;
}

.book__btn {
    width: 563.58px;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
    border: transparent;
    color: white;
    cursor: pointer;
    transition: all .2s linear;
}

.book__btn:hover {
    background-color: #9e8400;
}

.book__btn:active {
    background-color: #ff7300;
}

.book__img {
    display: block;
    position: relative;
    padding-right: 62px;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.3));
    border-radius: 5px;
}

.book__squere {
    position: absolute;
    right: 0;
    top: 225px;
    width: 226px;
    height: 226px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(100, 57, 57, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.book__text-bottom {
    position: absolute;
    left: 397px;
    bottom: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

/* specialties */

.specialties {
    max-height: 676px;
    background: url(../images/specialties-bg.jpg) center no-repeat;
    background-size: auto;
}

.specialties__body {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.specialties__text-top {
    position: absolute;
    left: 576px;
    top: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.specialties__column {
    margin: 100px 0;
    width: 50%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialties__img {
    display: block;
    position: relative;
    padding-left: 83px;
    filter: drop-shadow(0px 0px 50px #000000);
    border-radius: 5px;
}

.specialties__squere {
    position: absolute;
    left: 0;
    width: 250px;
    height: 262.72px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.specialties__tittle {
    display: block;
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}

.specialties__tittle::after {
    content: "";
    display: block;
    width: 59.19px;
    height: 5px;
    margin: 10px auto;
    background: #E8C300;
    border-radius: 50px;
}

.specialties__subtittle {
    display: block;
    width: 590px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 38px;
}

.specialties__text {
    font-family: 'Open Sans', sans-serif;
    width: 590px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    margin-left: 39px;
}

/* menu */

.menu {
    max-height: 920px;
}

.menu__body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.menu__tittle {
    display: block;
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-top: 100px;
    margin-bottom: 19px;
}

.menu__tittle::after {
    content: "";
    display: block;
    width: 59.19px;
    height: 5px;
    margin: 10px auto;
    background: #E8C300;
    border-radius: 50px;
}

.menu__subtittle {
    display: block;
    width: 590px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    padding-left: 22px;
}

.menu__nav {
    display: flex;
    margin: 50px auto;
    width: 840px;
    height: 50px;
}

.menu__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    transition: all .2s linear;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    ;
}

.menu__nav-item:last-child {
    border-right: none;
}

.menu__nav-item:hover {
    color: #FFD600;
}

.menu__nav-item:active {
    color: #ff7300;
}

.menu__menu {
    display: flex;
    justify-content: space-between;
}

.menu__column {
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 432px;
}

.menu__item {
    display: flex;
    align-items: baseline;
    width: 360px;
    margin-top: 30px;
}

.menu__item:first-child {
    margin-top: 0;
}

.menu__name {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
}

.menu__name-tittle {
    display: block;
    font-family: Banny;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin: 0;
}

.menu__name-subtittle {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    ;
}

.menu__price {
    display: flex;
    font-family: Banny;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: 86px;
    color: #333333;
    margin: 0;
}

/* private */

.private {
    min-height: 675px;
    max-height: 675px;
    background: url(../images/private-bg.jpg) center no-repeat;
    background-size: auto;
}

.private__body {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.private__text-top {
    position: absolute;
    left: 549px;
    top: 44px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.private__item {
    display: flex;
    width: 50%;
    margin: 100px 0;
}

.private__img-left {
    display: block;
    margin-left: 124px;
    filter: drop-shadow(0px 0px 50px #000000);
    border-radius: 5px;
    width: 475px;
    height: 475px;
}

.private__squere-left {
    position: absolute;
    left: 0;
    top: 213px;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.private__img-right {
    display: block;
    margin-left: 39px;
    filter: drop-shadow(0px 0px 50px #000000);
    border-radius: 5px;
    width: 475px;
    height: 475px;
}

.private__squere-right {
    position: absolute;
    right: 0;
    top: 213px;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.private__text-bottom {
    z-index: 1;
    position: absolute;
    left: 393px;
    bottom: 43px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
}

/* photos */

.photos__body {
    width: 100%;
    max-width: 1440px;
    max-height: 360px;
    margin: 0 auto;
    position: relative;
}

.photos__images {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.photos__img {
    display: block;
    width: 360px;
    height: 360px;
    margin: 0;
}

/* contact */

.contact__body {
    width: 100%;
    max-width: 1280px;
    max-height: 647px;
    margin: 0 auto;
}

.contact__tittle {
    display: block;
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-top: 100px;
    margin-bottom: 19px;
}

.contact__tittle::after {
    content: "";
    display: block;
    width: 59.19px;
    height: 5px;
    margin: 10px auto;
    background: #E8C300;
    border-radius: 50px;
}

.contact__subtittle {
    display: block;
    width: 590px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    padding-left: 22px;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
}

.contact__form-block {
    margin-bottom: 100px;
}

.contact__form-box {
    display: flex;
    margin-top: 50px;
}

.contact__form-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
    height: 60px;
    width: 420px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #E5E5E5;
    border-radius: 5px;
    border: transparent;
    box-sizing: border-box;
}

.contact__textarea {
    height: 120px;
    width: 1280px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding: 20px;
    color: rgba(51, 51, 51, 0.5);
    margin-bottom: 10px;
    background: #E5E5E5;
    border-radius: 5px;
    border: transparent;
    box-sizing: border-box;
    resize: none;
}

.contact__form-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact__form-content {
    display: flex;
    align-items: center;
    width: 640px;
    height: 60px;
}

.contact__form-text i {
    color: #E8C300;
}

.contact__form-text span {
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.5);
}

.contact__btn {
    display: block;
    width: 640px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    background: #E8C300;
    border-radius: 5px;
    border: transparent;
    color: white;
    cursor: pointer;
    transition: all .2s linear;
}

.contact__btn:hover {
    background-color: #9e8400;
}

.contact__btn:active {
    background-color: #ff7300;
}

/* map */

.map {
    display: block;
    width: 100%;
    max-width: 1440px;
    min-height: 475px;
    max-height: 475px;
    margin: 0 auto;
}

/* footer */

.footer__body {
    width: 100%;
    max-width: 1440px;
    min-height: 100px;
    max-height: 100px;
    margin: 0 auto;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
}